/* Общие стили */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4eee8;
  color: #333;
  margin: 0;
  padding: 20px;
}

.container {
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h1,
h2,
h3 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 25px;
}

p {
  margin: 5px;
}
/* Форма поиска */
.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.search-input {
  width: 100%;
  max-width: 500px;
  padding: 12px;
  border: 1px solid #dbe1e8;
  border-radius: 6px;
  font-size: 16px;
  background-color: #f8fafc;
  margin-right: 15px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #ea9a62;
  outline: none;
  box-shadow: 0 0 0 2px rgba(219, 133, 52, 0.2);
}

.search-button {
  background-color: #ea9a62;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 200px;
}

.search-button:hover {
  background-color: #eeaa45;
}

/* Карточки погоды */
.weather-card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ea9a62;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.current {
  display: flex;
  justify-content: space-between;
}

.weather-info {
  flex-grow: 2;
  padding: 0 15px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.temp-holder {
  display: flex;
  align-items: center;
}

.secondary-title {
  color: #777;
}

.temp-holder > img {
  margin-left: 15px;
}

.weather-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.weather-details > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

/* .weather-detail {
  background-color: #f8fafc;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
} */

.forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.forecastItem {
  background-color: #f2f7ff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forecast-condition {
  display: flex;
  align-items: center;
}

.forecast-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.forecast-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.forecast-day {
  background-color: #f8fafc;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.history-hour {
  background-color: #f8fafc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

/* Сообщения об ошибках и загрузке */
.error-message {
  color: #e74c3c;
  text-align: center;
  margin: 15px 0;
}

.loading-spinner {
  border: 4px solid hsla(0, 0%, 0%, 0.11);
  border-radius: 50%;
  border-top: 4px solid #ea9a62;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Адаптивность */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .weather-details {
    grid-template-columns: 1fr;
  }

  .forecast {
    grid-template-columns: 1fr;
  }

  .current-weather {
    flex-direction: column;
    text-align: center;
  }
}
